@charset "utf-8";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6e0505;
}
#cabecalho{
    width: 100%;
    height: 60px;
    background-color: #6e0505;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.158);
}
#logo{
    font-family: 'Astro';
    float: left;
    font-size: 30px;
    font-weight: normal;
    margin-top: 13px;
    margin-left: 30px;
}
#logo a{
    text-decoration: none;
    color: white;
    
}
#menu{
    color: white;
    list-style: none;
    float: right;
    margin-top: 10px;
    margin-right: 80px;
}
#menu li{
    display: inline-block;
    padding: 10px;
}
#menu a{
    color: white;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
}
#menu a:hover{
    color: #0a3964;
}
#inicio{
    width: 100%;
    min-height: 550px;
}
#inicio h1{
    color: white;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.164);
    font-size: 140px;
    font-family: 'Bebas';
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}
#inicio p{
    color: white;
    font-size: 25px;
    font-family: 'Bebas';
    text-align: center;
    margin-top: 10px;
    font-weight: normal;

}
#inicio div{
    text-align: center;
}
#vcatalogo{
    background-color: #0a3964;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 16px 70px 16px;
    letter-spacing: 1.4px;
    border-radius: 35px;
    border: none;
    margin: 10px;
    line-height: 17px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.171);
}

#vcatalogo:hover{
    background-color: #440303;
    transition: 1s;
    cursor: pointer;
}
footer div img{
    height: 250px;
}
