@charset "uft-8";

@font-face {
    font-family: 'Astro';
    src: url(../fontes/Astro.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
html::-webkit-scrollbar{
    width: 8px;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: rgb(6, 43, 77);
    border-radius: 5px;
}
body{
    background-color: #6e0505;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    width: 100%;
    height: 60px;
    background-color: #6e0505;
    position: fixed;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.158);
    z-index: 1000;
    
}
#logo{
    font-family: 'Astro';
    float: left;
    font-size: 30px;
    font-weight: normal;
    margin-top: 13px;
    margin-left: 30px;
}
#logo a{
    text-decoration: none;
    color: white;
    
}
#menu{
    color: white;
    list-style: none;
    float: right;
    margin-top: 10px;
    margin-right: 80px;
}
#menu li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
#menu ul{
    padding: 0px;
}
#perfil img{
    height: 45px;
}
#perfil{
    margin-top: 7px;
    margin-right: 30px;
    float: right;
}
#perfil:hover{
    transform: scale(1.05);
    z-index: 2;
}
section{
    box-shadow: inset 7px 7px 7px rgba(0, 0, 0, 0.158);
}
section ul{
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
section li{
    list-style-type: none;
    display: inline-block;
}
section li img{
    height: 270px;
    margin: 7px;
    box-shadow: rgba(0, 0, 0, 0.151) 0 0 1em;
    border-radius: 10px;
    transition: ease-in-out 0.7s;
    
}
section li img:hover{
    transform: scale(1.05);
}

section h1{
    font-family: 'Bebas';
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
#botaoler{
    background-color: #ffffff;
    color: #6e0505;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 50px 10px;
    letter-spacing: 1.4px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 15px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.171);
}
#botaoler:hover{
    background-color: #440303;
    transition: 1s;
    cursor: pointer;
}
#botaocurtir{
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 50px 10px;
    letter-spacing: 1.4px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    line-height: 15px;
    transition: 1s;
}
#botaocurtir:hover{
    transform: scale(1.05);
    background-color: rgba(139, 0, 0, 0.295);
    cursor: pointer;
}
footer{
    color: white;
    background-color: #440303;
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px ;
    max-width: 100%;
    text-align: center;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.192);
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #2271bb;
}
footer li{
    list-style-type: none;
    padding: 10px;
    margin-bottom: 15px;
    display: inline-block;
}