@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
#banner{
    background-image: url(../imagens/banner-thor2020.jpg);
    background-position: center center;
    height: 700px;
}
#banner div{
    width: 50%;
    margin-left: 30px;
    padding-top: 20px;
    color: white;
}
#banner div h1{
    font-size: 90px;
    font-family: 'Bebas';
}
#banner divr p{
    text-indent: 20px;
    margin-bottom: 20px;
}
#banner div li{
    display: inline-block;
    padding: 10px;
    font-size: 13px;

}
#relevancia{
    color: #2271bb;
    font-weight: bolder;
}
.botao{
    width: 100%;
    background-color: transparent;
    color: white;
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.4px;
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    line-height: 40px;
    padding-left: 10px;
}
.botao:hover{
    border: 1px solid white;
    cursor: pointer;
}
